In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/fy2023-property-assessment-data.csv')

In [6]:
# Remove rows with 0 TOTAL_VALUE
df = df[df['TOTAL_VALUE'] != 0]

In [7]:
# Remove redundant columns
df = df.drop(columns=['LAND_VALUE', 'BLDG_VALUE', 'GROSS_TAX'])

In [18]:
# Create a meta dataframe
meta_df = pd.concat([df.isna().sum(), df.dtypes], axis=1, keys=['NA_Count', 'Type'])

# Remove rows with no NA values
meta_df[meta_df['NA_Count'] != 0]

                    NA_Count     Type
CM_ID                  89460  float64
ST_NUM                  9481  float64
UNIT_NUM               89412   object
CITY                       5   object
ZIP_CODE                   3  float64
BLDG_SEQ                   1  float64
BLDG_TYPE               2524   object
OWNER MAIL ADDRESS         1   object
RES_FLOOR              33492  float64
CD_FLOOR               99523  float64
RES_UNITS             170079  float64
COM_UNITS             170079  float64
RC_UNITS              170079  float64
LAND_SF                 7543  float64
GROSS_AREA             24363  float64
LIVING_AREA            24375  float64
YR_BUILT               22804  float64
YR_REMODEL             84679  float64
STRUCTURE_CLASS       153177   object
ROOF_STRUCTURE         36401   object
ROOF_COVER             36399   object
INT_WALL               37718   object
EXT_FNISHED            23010   object
INT_COND               37717   object
EXT_COND               36364   object
OVERALL_COND            7603   object
BED_RMS                37739  float64
FULL_BTH                 574  float64
HLF_BTH                  422  float64
KITCHENS                 572  float64
TT_RMS                 37806  float64
BDRM_COND              99609   object
BTHRM_STYLE1           37550   object
BTHRM_STYLE2           85072   object
BTHRM_STYLE3          133813   object
KITCHEN_TYPE           37568   object
KITCHEN_STYLE1         37554   object
KITCHEN_STYLE2        138264   object
KITCHEN_STYLE3        156006   object
HEAT_TYPE              37717   object
HEAT_FUEL              99304   object
AC_TYPE                37728   object
FIREPLACES               419  float64
ORIENTATION            99300   object
NUM_PARKING            37652  float64
PROP_VIEW              37676   object
CORNER_UNIT            99288   object

In [21]:
# If the NA count is not 0, then we need to fill in the NA values
# We will fill in the NA values with -1 if the column is numeric
# and with 'NA' if the column is a string
for col in meta_df[meta_df['NA_Count'] != 0].index:
    if meta_df.loc[col, 'Type'] == 'object':
        df[col] = df[col].fillna('NA - Not Available or Not Applicable')
    else:
        df[col] = df[col].fillna(-1)

In [ ]:
# Save the cleaned data
df.to_csv('../data/cleaned/fy2023-property-assessment-data-cleaned.csv', index=False)